.App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-card {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
  }
  
  .user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .user-details {
    margin-top: 10px;
  }
  
  .user-details h2 {
    margin-top: 0;
  }
  
  .user-details p {
    margin: 5px 0;
  }
  
  /* header */
.heado{
  background-color: #f1f1f1;
  padding: 10px;
}
.logo {
  text-align: center; 
  margin: 10px;
}
.logo img{
  width: 80px;
  height: auto;
  vertical-align: middle;
  border-radius: 50px;
  background-color: black;
}



.final{
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
}
.finizq, .finder{
  width: 45%;
  padding: 10px;
  margin: 10px;
  text-align:center;
}